{% extends 'rango/base.html' %}
{% load staticfiles %} <!--indicates we will be using static files-->

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>Here is the about page</h1> 
	<h2>This tutorial has been put together by Denica Nedjalkova</h2>
	<div>
		<!--static template tag-->
		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango meme" />
		<img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of a cat" />
	</div>
	<h2>visits: {{ visits }}</h2>
{% endblock %}
